*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: auto;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  background-color: gray;
  color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(67, 47, 100, 0.5),
      rgba(58, 46, 66, 0.5)
    ),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/*font-family: 'Indie Flower', cursive;*/
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px solid blue;*/
}

/*-------- HEADER ---------*/

.header {
  height: 60px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4b0082;
}
.header-span {
  font-family: "Indie Flower", cursive;
  color: #00ff7f;
  margin: 20px 0;
}

.header-span:hover {
  color: yellow;
}

.header-text {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #0000ff;
  transform: skewX(-20deg);
}
/*----- FORM -----*/
main {
  flex-grow: 1;
}
.main-container {
}
.first {
}
.different-forms-container {
  display: flex;
  gap: 20px;
}

.form-first-container,
.form-second-container,
.form-third-container {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 8px;
  border: 1px solid #212121;
  border-radius: 4px;
  max-width: 400px;
  transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}
.form-second-container {
  justify-content: flex-start;
}

.form:focus-within {
  border-color: bisque;
  box-shadow: 3px 3px 4px -2px bisque;
}

.form-label {
  display: flex;
  flex-direction: column;
  transition: color 150ms ease-in-out;
}
.form-label:focus-within {
  color: yellow;
}
.form-input {
  padding: 4px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
}
.form-button {
  background-color: #87ceeb;
  border: 1px solid #212121;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 200px;
}
input::placeholder {
  color: #c71585;
  font-weight: 300;
}

input:hover::placeholder,
input:focus::placeholder {
  color: teal;
}
textarea {
  resize: none;
  margin-top: 10px;
}
/*input[type="radio"] {
  font-family: "Open Sans", sans-serif;
  color: black;
}*/
/*-------Animals-------------*/

/*
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
}*/

.animal-list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: flex-end;
  /*проміжок між Формою і тваринками*/
  padding-top: 40px;
}
.animal-item {
  padding: 20px;
}

.animal-item:first-child {
  transition: transform 500ms ease-in-out;
}
.animal-item:first-child:hover,
.animal-item:first-child:focus {
  transform: rotate(360deg);
  /* box-shadow: 0px 1px bisque;*/
}

.two,
.three {
  transition: transform 1500ms ease-in-out;
}
.two:hover,
.two:focus {
  transform: scale(150%, 150%);
}
.three:hover,
.three:focus {
  transform: scale(70%, 70%);
}
.four,
five {
  transition: transform 500ms ease-in-out;
}
.four:hover,
.four:focus {
  transform: translateY(-400px);
}

.five:hover,
.five:focus {
  transform: translate(180px, 20px);
}
.six {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.cat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;

  transform: translateX(87%);
  transition: transform 650ms linear;
}

.cat:hover {
  transform: translateX(0);
}

.animal-image {
}

/*--------- FOOTER--------*/
.footer {
}
.footer-text {
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: white;
  padding-bottom: 30px;
  text-align: end;
  transform: skewX(-20deg);
}
