*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: auto;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  background-color: gray;
  color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(67, 47, 100, 0.4),
      rgba(58, 46, 66, 0.3)
    ),
    url(../images/bg-forest.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/*font-family: 'Indie Flower', cursive;*/

/*-------- HEADER ---------*/

.header {
  height: 40px;
  width: 100%;
  padding: 0 15px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0000ff;
}
.header-span {
  font-family: "Indie Flower", cursive;
  color: #00ff7f;
  margin: 20px 0;
}

.header-span:hover {
  color: yellow;
}

.header-btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f4f4fd;
  transform: skewX(-20deg);
}

.header-btn {
  min-width: 140px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f4f4fd;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 8px;
  border: none;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #404bbf;
  border: none;
}

/*-------Animals-------------*/
main {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.animals-container {
  position: relative;
  height: 530px;
  /*border: 3px solid blue;*/
  padding-bottom: 5px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animal-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}

.one {
  transition: transform 400ms ease-in-out;
}

.one:hover,
.one:focus {
  transform: rotate(360deg);
}

.two {
  padding-bottom: 50px;
  transition: transform 1500ms ease-in-out;
}
.two:hover,
.two:focus {
  transform: scale(150%, 150%);
}

.three {
  padding-bottom: 100px;
  transition: transform 1500ms ease-in-out;
}
.three:hover,
.three:focus {
  transform: scale(70%, 70%);
}

.four {
  transition: transform 500ms ease-in-out;
}
.four:hover,
.four:focus {
  transform: translate(180px, 20px);
}

.five {
  padding-bottom: 110px;
  transition: transform 400ms linear;
}
.five:hover,
.five:focus {
  transform: translateY(-400px);
}

.six {
  position: relative;
  width: 90px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
}
.cat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(89%);
  transition: transform 650ms linear;
}

.six:hover .cat {
  transform: translateX(0);
}

/*--------- FOOTER--------*/
.footer {
}
.footer-text {
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: white;
  padding-bottom: 30px;
  text-align: end;
  transform: skewX(-20deg);
}

/*--------Modal window------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: rgb(255, 247, 240);
  background-color: linear-gradient(
    90deg,
    rgba(255, 247, 240, 0.8660714285714286) 0%,
    rgba(255, 255, 240, 1) 100%
  );
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
/******************************/
.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #404bbf;
}

/*---- Forms --------*/
.modal-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.modal-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2f4f4f;
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover {
  color: #404bbf;
}
.modal-icon {
  position: absolute;
  fill: #06071757;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 11px;
  padding-left: 38px;
  padding-bottom: 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #404bbf;
}

.modal-input:focus + .modal-icon {
  fill: #404bbf;
}
/*********************************/
.checkbox-container {
  margin-top: 36px;
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.check-text a {
  color: #404bbf;
  text-decoration-line: underline;
}
.check-text-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text > .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-btn {
  min-width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f4f4fd;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 8px;
  border: none;
  transform: skewX(-20deg);
  padding-left: 10px;
}

.modal-btn-icon {
  margin-left: 16px;
  fill: #f4f4fd;
}
.modal-form-btn:hover {
  background-color: #404bbf;
}
