* {
  box-sizing: border-box;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:link {
  color: blue;
  text-decoration: underline;
  background-color: transparent;
}

a:hover {
  color: red;
  text-decoration: underline;
  background-color: transparent;
}

a:active {
  color: yellow;
  text-decoration: none;
  background-color: lightblue;
}

a:visited {
  color: purple;
  text-decoration: underline;
  background-color: transparent;
}

body {
  background-color: azure;
  padding: 10px;
  /* height: 100vh; */
}

header {
  background-color: #e5e5e5;
  padding: 15px;
  text-align: center;
}

footer {
  background-color: #e5e5e5;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
}

/* p {
  color: blue;
  background-color: aliceblue;
} */

h3 {
  font-size: 2vw;
  text-align: center;
  padding: 20px;
}

.responsiveDivs {
  width: 100%;
  margin: auto;
  overflow: auto;
}

.div1,
.div2,
.div3 {
  float: left;
  padding: 5px;
}

.div1 {
  width: 100%;
}
.div2 {
  width: 100%;
}
.div3 {
  background-color: #e5e5e5;
  float: left;
  width: 100%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.linksListItem {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

@media only screen and (min-width: 500px) {
  .div1 {
    width: 20%;
  }
  .div2 {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .div2 {
    width: 60%;
  }
  .div3 {
    width: 20%;
  }
}
